* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible", sans-serif;
}
nav {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: #0a0929;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 8px 50px;
}
nav a:hover {
  background-color: #2a2874;
}

/* TABLE */
table {
  margin: 0 auto;
}

tr {
  background-color: #701552;
  color: white;
}
table * {
  padding: 30px;
  font-size: 1.2rem;
  text-align: center;
}
